*{
    box-sizing: border-box;
}
.banner-container{
    padding: 50;
    width: 1250;
    height: 1250;
    background-image: url("../img/1.jpg");
    
}
.banner-container img{
    display: block;
    height: auto;
    width: auto;
    max-height: 1100px;
    max-width: 622px;
    margin: 0 auto;
}

body{
    margin: 0;
}

.nav {
    background-color:black ;
    color:#777;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem ;
}
.nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    gap:1rem;
    opacity: 0.6;
}

.nav li{
    transition: 0.3s;
}
.nav li:hover{
    background-color: yellow;
    opacity: 1;
}

.nav a:visited {
    text-decoration: none;
    color: #fff;
  }
  
.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    color:#fff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
.nav a:hover {
    color: #fdec6e;
    text-shadow:0px 0px 30px #fdec6e;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
 .w3-red *{
    background-color:red;
 }
 .card-container{
    margin: 0;
    padding: 5;
 }
 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .card img {
    height: 600px;
    width: 100%;
  }
    
  .card p {
    font-size: 14px;
    margin: 0;
    padding: 10px 0;
  }
  

  
 